<html>
    <body>
        <form action="/registrati">
            <label for="codice_fiscale">Codice Fiscale:</label><br>
            <input type="codicefiscale" id="codice_fiscale" name="codice_fiscale" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>